.pageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1rem;
    margin: 2rem 0;
    padding: 1rem 2rem;

    background-color: white;
    box-shadow: 0 4px 15px 0 #8990D226;
    border-radius: 16px;

}

.flex {
    display: flex;
    align-items: center;
    gap: 0 1rem;
}

.button {
    width: 10rem;
}