.authentication {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    .input {
        width: 70%;
    }

    .textButton {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 28%;
    }
}

.hint {
    text-align: center;
}