.pageContent {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;

  gap: 1rem !important;
  margin: 2rem 0 !important;
}

.cards {
  display: flex !important;
  justify-content: space-between !important;

  > div {
    width: 24% !important;
  }
}

.flex {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;

  width: max-content !important;
  height: max-content !important;
  gap: 0 0.2rem !important;
}

.button {
  height: 1.8rem !important;
  width: max-content !important;
}

.relative {
  position: relative !important;
  width: 100% !important;
}

.pageContent {
  display: flex !important;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .page .pageContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 12px 0px 12px;

    gap: 20px;
  }

  .card {
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;
    /* margin-bottom: 10px; */
  }

  .pageContent .relative {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: static !important;
    padding: 0px 13px 0px 13px;
    /* flex-direction: column; */
  }

  .logoMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    width: 100%;
    height: 10px;
    padding: 30px 20px 0px 20px;
  }

  .active {
    display: none;
  }
}
