.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  gap: 0.5rem 1rem;
  padding: 0.5rem;

  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 8px;
  height: 2.5rem;

  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: #fff;
  }
  &:hover button {
    color: #000;
  }
  &:hover path {
    fill: #000;
  }
}

.innerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;

  background: transparent;
  border: none;
}

@media screen and (max-width: 500px) {
  .btuton {
    padding: 30px !important;
  }
}
