.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  gap: 0.5rem 1rem;
  padding: 0.5rem;

  color: #21a038;
  background-color: white;
  border: 1px solid #21a038;
  border-radius: 8px;
  cursor: pointer !important;

  transition: all 0.1s ease-in-out;

  &:hover {
    background: #21a038;
  }
  &:hover button {
    color: #fff;
  }
}

.innerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  color: #21a038;

  background: transparent;
  border: none;
}

@media screen and (max-width: 500px) {
  .button {
    width: 165px;
    height: 38px;
  }
  .innerButton {
  }
}
