@media screen and (max-width: 500px) {
  .content {
    display: flex;
    justify-content: space-between;
  }

  .content_notification {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background: #2f3035;
    color: white;
    position: absolute;
    right: 0%;
    gap: 30px;
    width: 90%;
    border-radius: 16px 0px 0px 16px;
  }

  .title_notification {
    font-size: 16px;

    width: 100%;
    white-space: normal;
  }

  .date_news {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn_news {
    height: 24px;
  }

  .notification {
    display: flex;
    border-radius: 16px 0px 0px 16px;
    background: #2f3035;
    padding: 1rem;
    position: absolute;
    right: 0%;
    gap: 12px;
  }

  .notification_num {
    color: green;
  }

  .icon_green_circle {
    position: absolute;
    right: 30%;
    top: 25%;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .close_notification {
    position: absolute;
    top: 5%;
    left: 90%;
  }

  .icon_closed {
    color: white;
  }
}
