.button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: .5rem 1rem;
    padding: .5rem;

    color: white;
    background: linear-gradient(90deg, #83DA4E, #21A038, #54ACB8);
    border-radius: 8px;
    border: none;

    transition: all .1s ease-in-out;

    &:hover {
        transform: scale(.95);
    }
}

.innerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    color: white;
    background: transparent;
    border: none;
}