.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 0 .5rem;
    margin-bottom: 1.2rem;
}

.contact__specification {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .2rem 0;
}

.contact__text, .contact__link {
    display: flex;
    align-items: center;
    gap: 0 .5rem;
}

.img {
    width: 1rem;
    background-size: contain;
}