.headerAccountsItem {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: .5rem;
    gap: .5rem 1rem;

    color: black;
    background-color: white;
    border-bottom: 1px solid white;

    &:active, &:hover, &:focus, &::after {
        background: -webkit-linear-gradient(90deg, #83DA4E, #21A038, #54ACB8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        border-bottom: 2px solid transparent;
        border-image: linear-gradient(90deg, #83DA4E, #21A038, #54ACB8);
        -moz-border-image: -moz-linear-gradient(90deg, #83DA4E, #21A038, #54ACB8);
        -webkit-border-image: -webkit-linear-gradient(90deg, #83DA4E, #21A038, #54ACB8);
        border-image-slice: 1;
    }
}
