.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-image: url("../image/background.png");
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 30vw;
  gap: 1rem;
}

@media screen and (max-width: 600) {
  .login {
    display: flex;
    flex-direction: column;
  }
}
