.socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    width: 100%;
}

.socials__items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px 0;
}