.button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    gap: .5rem;
    padding: .5rem 1rem;

    color: #21A038;
    background: white;
    border: none;
    border-radius: 8px;

    transition: all .1s ease-in-out;

    &:hover {
        background: #F5FFF7;
    }
}

.innerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    color: #21A038;
    background: transparent;
    border: none;
}