.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 120rem;

    margin: 1rem 0;
    padding-top: 3rem;
    border-top: 1px solid #F3F3F3;

}

.data > p {
    width: 12rem;
}

.fieldDescription {
    width: 10rem;
}

.userData {
}

.header {
    font-size: 1rem;
    font-weight: 600;
    font-family: Noto Sans, serif;
    color: #AAAAAA;
}

.noHeader {

}