.buttons {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-bottom: -3rem;
  padding-bottom: 1rem;
}

.hint {
  left: 0.1vw !important;
}

.rightButtons {
  display: flex;
  gap: 0 1rem;

  > div {
    display: flex;
    gap: 0 0.2rem;
  }
}

.title {
  display: flex;
  gap: 0 0.2rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.accountId {
  background-color: #ececec;
  padding: 0.5rem 2rem;
  border-radius: 4px;

  > p {
    color: #aaaaaa;
  }
}

.refillMethod {
  padding: 0.5rem 2rem;
  width: max-content;

  color: #21a038;
  background-color: #ececec;
}

@media screen and (max-width: 500px) {
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .rightButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .rightButton {
    display: flex;
    gap: 50px !important;
  }
}
