.issuance {
  position: absolute;
  top: 35%;
  left: 43%;
  transform: translate(-50%, -50%);
  /* text-align: c */

  width: max-content;
  height: max-content;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 1rem;

  background-color: #fafafa;
  box-shadow: 0 4px 15px 0 #8990d226;
  border-radius: 24px;

  opacity: 1 !important;
  z-index: 10;
}

.limits {
  line-height: 1.9 !important;
  margin-right: 0.3rem !important;
}

.background {
  position: absolute;
  top: 0;
  left: -30vw;
  width: 155vw;
  height: 155vh;
  background: rgba(92, 91, 91, 0.7);
}
.undefined {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: calc(100% - 2rem);
  margin-left: 2rem;
}

.container {
  display: flex;

  margin-top: 2rem;
  gap: 0 2rem;
}

.fields {
  padding: 1rem;

  background-color: #ffffff;
  box-shadow: 0 4px 15px 0 #8990d226;
  border-radius: 16px;
  width: 100%;
}

.moneyContainer {
  display: flex;

  margin-top: 0.5rem;
  gap: 0 0.5rem;
}

.money {
  padding: 0.3rem 0.5rem;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer; /* Курсор при наведении */
  user-select: none; /* Запрет на выделение текста */
  transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход при инверсии */
}

.money:hover {
  background-color: black; /* Инверсия фона */
  color: white; /* Инверсия цвета текста */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  white-space: nowrap;

  width: 100%;
  margin-left: 2rem;
}

.text {
  margin-top: 2rem;
  width: 95%;
}

.field {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img {
  width: 1.5rem;
}

.divider {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.inputs,
.inputs2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 1rem 0;
}

.inputs2 {
  margin-top: 1rem;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;
  gap: 0 1rem;
}

.issue {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;
  gap: 0 1rem;
}

.inputs2 input {
  border: none;
}

@media screen and (max-width: 500px) {
  .issuance {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    width: 95%;

    top: auto !important;
    left: auto !important;
    padding: 20px 0px 30px 0px !important;

    transform: translate(0%, 3%) !important;
    margin-top: 40px;
    width: 90%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 12px 0px 12px;
    margin: 0;
    gap: 20px;
  }

  .background {
    display: flex;
    height: 100%;
    justify-content: center !important;
    /* align-items: center !important; */
    padding: 0px 30px 0px 30px;
    left: 0;
    right: 0;

    width: 100%;
  }

  .header {
    display: flex;
    color: black !important;
  }

  .header .header__title {
    white-space: pre-line;
    font-size: 20px !important;
    display: flex;
    width: 60%;
  }

  .text {
    padding: 0px 0px 0px 0px;
  }

  .card {
    margin: 0 !important;
  }

  .container .fields {
    margin: 0 !important;
  }

  .card_details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .card_details__btn {
    display: flex;
    gap: 12px;
  }

  .card_img {
    width: 160px;
  }

  .btn_green {
    font-weight: 600px !important;
    color: #21a038;
    background: none;
  }

  .card_arrow__down {
    background: none;
    transform: rotate(180deg);
  }

  .cardContent {
    width: 100%;
  }
}
